@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html, body, *{
    font-family: 'Montserrat', sans-serif !important;
}

.menu {
    position: absolute;
    width: 100%;
    z-index: 1;
  }
  .img-bg {
    background-image: url("../images/WallpaperDog.jpg");
    width: 100%;
    background-size: cover;
    position: relative;
    height: 100vh;
  }
  .content___img {
    position: absolute;
    top: 20%;
    /* transform: translateY(-50%); */
    right: 0;
    left: 0;
    margin: 0 auto;
  }
  .content___img h1 {
    color: #42799f;
    font-size: 40px;
  }
  .content___img p {
    width: 500px;
    margin: 0 auto;
    margin-top: 15px;
    color: #142b3b;
    text-align: justify;
  }
  .content___img button {
    background: #2980b9; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #ffffff,
      #6dd5fa,
      #2980b9
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #7bc6ff,
      #6dd5fa,
      #aeddff
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  .img-bg h6 {
    position: absolute;
    bottom: 5vh;
    margin: 0 auto;
    left: 0;
    right: 0;
    opacity: 0.7;
  }
  .news___about{
    min-height: 500px;
    background-color: #0e0e0e;
  }
  .ListNews i{
      font-size: 12px;
  }
  .theme--light.v-divider {
    border-color: rgb(255 255 255 / 12%) !important;
}
.nav___about {
    background-image: url(https://cdn.wallpapersafari.com/41/17/pItFRM.jpg);
    background-size: cover;
    background-position: center;
  }
  .name_cmt{
    font-size: 13px;
  }
  .content_cmt{
    font-size: 14px;
  }
  .v-rating .v-icon{
    padding: 0 0px 0 2px !important;
  }